# Introdução a Linguagem Python

1. Seu primeiro programa python
2. Strings e métodos de string
3. Números e matemática
4. Funções e laços
5. Encontrando e corrigindo erros de código
6. Lógica condicional e fluxo de controle
7. Tuplas, listas e dicionários
8. Programação orientada a objetos (oop)
9. Módulos e pacotes
10. Entrada e saída de arquivo
11. Instalando pacotes com pip
12. Trabalhando com bancos de dados
13. Interagindo com a web

JARMUL, K.; LAWSON. **Python Web Scraping. Hands-on data scraping and crawling using PyQT, Selnium, HTML and Python.** Segunda Edição, Packt Publishing, Nova Iorque, 2020.

VIAFORE, P. **Robust Python. Write Clean and Maintainable Code**. Kudzera, California, 2021.

HEISLER, F.; AMOS, D.; BADER, D.; JABLONSKI, J. **Python Basics: A Practical Introduction to Python 3**. Real Python, Toronto, 2020.

https://realpython.com/python-basics/resources/

## Seu primeiro programa python

In [ ]:
print("Welcome to Python!")

**> Quase tudo em python é uma função.**

In [ ]:
print("Welcome")
print("to Python!")

**> Você pode ter varias funções sendo chamadas em sequencia**

In [ ]:
print("Welcome \n to Python!")

**> Você pode utilizar o "\n" para poder quebrar a linha**

In [ ]:
1 + 1

**> O terminal sempre vai fazer o stdout da execução, mas quando rodarmos o script, temos que utilizar a função "print()"**

In [ ]:
phrase = "Hello, world"
print(phrase)

**> Python é fracamente tipado, então não precisamos falar qual o tipo da variavel.**

In [ ]:
s = 3600

In [ ]:
seconds = 3600

In [ ]:
seconds_per_hour = 3600

**> Não tem um padrão para escrever as variaveis, mas algo que a comunidade segue é utilizar o padrão "snake_case"**

In [ ]:
phrase = "Hello, world" # This comment is PEP 8 compliant.
print(phrase)# This comment isn't.

**> Para fazermos comentarios, utilizamos o "#", e após ele, tudo sera um comentario.**

## Strings e métodos de string

**> Por que utilizar string??**
**Temos que pensar quando vamos trabalhar com os tipos, pois cada tipo utiliza uma quantidade de recursos. Uma String é uma lista de caracteres**

### The String Data Type

In [ ]:
print(type("Hello, world"))
print(type("1.0"))
print(type(1.0))

**> Utilizar o "type" para poder saber o tipo de um valor, utilizado pra validar os itens em uma função**

In [ ]:
phrase = "Hello, world"
type(phrase)

**> Podemos pegar qual é o tipo de uma variavel tambem**

### String Literals

In [ ]:
string1 = 'Hello, world'
string2 = "1234"

**> Python não tem diferença entra aspas duplas(") e simples(') em strings**

### Determine the Length of a String

In [ ]:
len(string1)

**> Utilizamos a função "len()" para saber o tamanho de uma lista**

In [ ]:
len(string2)

### Multiline Strings

In [ ]:
paragraph = "This planet has - or rather had - a problem, which was \
this: most of the people living on it were unhappy for pretty much \
of the time. Many solutions were suggested for this problem, but \
most of these were largely concerned with the movements of small \
green pieces of paper, which is odd because on the whole it wasn't \
the small green pieces of paper that were unhappy."

In [ ]:
print(paragraph)

**> Podemos utilizar barra invertida (\) para fazer uma string de varias linhas, mas sua saida vai ser em uma linha continua**

### Concatenation, Indexing, and Slicing

In [ ]:
string1 = "abra"
string2 = "cadabra"
magic_string = string1 + string2
magic_string

**> Podemos simplemente fazer a "soma" de strings para concatenar**

In [ ]:
string1 = "abra"
string2 = "cadabra"
magic_string = string1 + string2
print(magic_string)

**> A função print imprime o valor da variavel, ela pode trazer mais informações do que só a variavel**

In [ ]:
first_name = "Arthur"
last_name = "Dent"
full_name = first_name + " " + last_name
full_name

### String Indexing

In [ ]:
flavor = "apple pie"
flavor[1]

**> Como string é uma lista, podemos percorer por cada posição**

![image.png]()

**> Grande parte das linguagens começam com 0 as listas**

In [ ]:
flavor[-1]

**> Se utilizar valor negativo, vamos percorrer de forma inversa**

In [ ]:
flavor[-3]

**> Se utilizar valor negativo, vamos percorrer de forma inversa**

### String Slicing

In [ ]:
first_three_letters = flavor[0] + flavor[1] + flavor[2]
first_three_letters

In [ ]:
flavor = "apple pie"
flavor[0:3]

**> Podemos pegar partes da lista utilizando ":", se for passado valores maiores que a string, ele não vai dar erro, vai pegar até onde der**

In [ ]:
flavor[:5]

**> Se não for passado um valor inicial, ele asume que é zero. **

In [ ]:
flavor[5:]

**> ... o mesmo ocorre se não for passado valor final ,ele asume o final da frase**

In [ ]:
flavor[:]

**> ... e se não passar nada, ele pega toda a lista, que é o mesmo que não se informar "[:]"**

### Converting String Case

In [ ]:
"Jean-luc Picard".lower()

**> Os tipos de dados já trazem algumas funções, como deixar os dados para minusculo**

In [ ]:
name = "Jean-luc Picard"
name.lower()

**> ... e você pode chamar a função diretamente do tipo, sem ter que criar uma variavel**

In [ ]:
loud_voice = "Can you hear me yet?"
loud_voice.upper()

### Removing Whitespace From a String

In [ ]:
name = "Jean-luc Picard        "
name.rstrip()

**> Existe função para tirar os espaços no final da string**

In [ ]:
name = "           Jean-luc Picard"
name.lstrip()

**> ... para remover função antes da string**

In [ ]:
name = "       Jean-luc Picard          "
name.strip()

**> ... e função para remover antes e depois da string**

### Determine if a String Starts or Ends With a Particular String

In [ ]:
starship = "Enterprise"
starship.startswith("en")

**> As funções são case sensitive, e existem varias para cada tipo de dado**

In [ ]:
starship.endswith("rise")

### Interact With User Input

In [ ]:
prompt = "Hey, what's up? "
user_input = input(prompt)
print("You said:", user_input)

**> Podemos fazer campos para pedir para o usuario informar dados**

In [ ]:
response = input("What should I shout? ")
shouted_response = response.upper()
print("Well, if you insist...", shouted_response)

**> ... e podemos trabalhar com esse dado depois como quisermos**

### Working With Strings and Numbers

In [ ]:
num = "2"
num + num

**> Somando strings**

In [ ]:
num = "12"
num * 3

**> multiplicando a string**

In [ ]:
"12" * "3"

**> Mas a função de multiplicar é uma função matematica, e não de texto.**

### Converting Strings to Numbers

In [ ]:
num = input("Enter a number to be doubled: ")
doubled_num = num * 2
print(doubled_num)

**> A entrada de uma campo vai ser sempre um retorno do tipo texto**

In [ ]:
num = input("Enter a number to be doubled: ")
doubled_num = float(num) * 2
print(doubled_num)

**> ... mas podemos converter essa entrada para um tipo diferente.**

### Converting Numbers to Strings

In [ ]:
num_pancakes = 10
"I am going to eat " + str(num_pancakes) + " pancakes."

**> ...e converter para outros tipos**

In [ ]:
total_pancakes = 10
pancakes_eaten = 5
"Only " + str(total_pancakes - pancakes_eaten) + " pancakes left."
'Only 5 pancakes left.'

**> ... e ate mesmo executar código dentro do cast**

### Streamline Your Print Statements

In [ ]:
n = 3
m = 4
f"{n} times {m} is {n*m}"

**> Podemos fazer a concatenação de texto utilizando um "f" na frente do texto, e executar função de código ou ler variaveis dentro de chaves "{}"**

In [ ]:
name = "John"
heads = "1"
arms = "2"
"{} has {} heads and {} arms".format(name, heads, arms)

**> ... ou podemos utilizar o ".format()" e passar qual é a sequencia a ser seguida, mas se precisar, podemos passar dentro da chave o index da posição que queremos utilizar**

### Find a String in a String

In [ ]:
phrase = "the surprise is in here somewhere"
phrase.find("surprise")

**> A função find mostra o index em que se encontra o termo buscado, somente sua primeira ocorrencia**

In [ ]:
my_story = "I'm telling you the truth; nothing but the truth!"
my_story.replace("the truth", "lies")

**> Faz a troca de termos, se for encontrado algum**

In [ ]:
my_story

In [ ]:
text = "some of the stuff"
new_text = text.replace("some of", "all")
new_text = new_text.replace("stuff", "things")
new_text

**> Voce pode atribuir o retorno da subistituição para uma função, e trabalhar com variaveis.**

## Números e matemática

### Integers

In [ ]:
type(1)

**> Números que não tem ponto flutuante**

In [ ]:
int("25")

In [ ]:
1000000

**> Dependendo da execução, o retorno de dois inteiros pode ser um float, como na divisão, o retorno de 2 int divididos vai ser um float**

### Floating-Point

In [ ]:
type(1.0)

**> Números com ponto flutuante**

In [ ]:
float("1.25")

In [ ]:
1000000.0

In [ ]:
200000000000000000.0

**> Anotação cientifica, uma forma de escrever numeros muito grandes ou muito pequenos**

In [ ]:
1e-4

### Arithmetic Operators and Expressions

In [ ]:
1 + 2

**> Soma de inteiros**

In [ ]:
1.0 + 2

**> Soma de inteiro e float**

In [ ]:
1 - 1

**> Subtração de inteiros, retorno inteiro**

In [ ]:
5.0 - 3

**> Subitração de flot e inteiro, retorno float**

In [ ]:
1 - (-3)

**> Trabalhando com numeros negativos (precedente de operação)**

In [ ]:
3 * 3

**> Multiplicação de inteiros, retorno inteiro**

In [ ]:
2 * 8.0

**> Multiplicação de inteiro e float, retorna float**

In [ ]:
9 / 3

**> Divisão sempre vai trabalhar com precisão, então retorna float**

In [ ]:
int(9 / 3)

**> Um numero float, se for feito o cast para inteiro, vai perder informação, não é feito o arredondamento, ele só iguinora as casas decimais**

In [ ]:
9 // 3

**> Raiz quadrada**

In [ ]:
2 ** 2

**> Exponenciação**

In [ ]:
3 ** 1.5

In [ ]:
9 ** 0.5

**> Uma outra forma de fazer raiz quadrada**

In [ ]:
5 % 3

**> Resto da divisão**

In [ ]:
4/2 + 2**3

**> Novamente, precedencia de operações**

In [ ]:
-1 + (-3*2 + 4)

In [ ]:
round(2.3)

**> Arredondamento para o numero inteiro mais perto**

In [ ]:
round(2.7)

**> Tudo que for 0.6 ou maior vai ser arredondado para cima**

In [ ]:
round(3.14159, 3)

**> Eu posso passar a precisão que eu quero que seja retornado o arredondamento**

In [ ]:
abs(3)

**> Retorna o valor sem sinal**

In [ ]:
abs(-5.0)

**> Valor sem sinal**

In [ ]:
pow(2, 3)

**> Função de exponenciação, no código pode ser que seja mais legivel**

In [ ]:
pow(2, -2)

### Print Numbers in Style

In [ ]:
n = 7.125
f"The value of n is {n}"

In [ ]:
n = 7.125
f"The value of n is {n:.5f}"

**> Podemos utilizar ":.Nf" para preencher um numero aonde N é o numero de casa**

In [ ]:
balance = 2000.0
spent = 256.35
remaining = balance - spent
f"After spending ${spent:.2f}, I was left with ${remaining:,.2f}"

In [ ]:
ratio = 0.9
f"Over {ratio:.1%} of Pythonistas say 'Real Python rocks!'"

**> E para formatar em percentual, basta colocar ":.1%"**

## Funções e laços

### Functions Are Values

In [ ]:
len

**> Função para mostrar o tamanho de uma lista ou array**

In [ ]:
type(len)

**> O tipo dela é uma função interna**

In [ ]:
len = "I'm not the len you're looking for."
len

**> No Python você pode sobrescrever funções padrões**

In [ ]:
type(len)

In [ ]:
del len

**> Mas pode utilizar "del" para poder retornar o valor original de funçoes builtin**

In [ ]:
num_letters = len("four")

In [ ]:
num_letters = 4

In [ ]:
return_value = print("What do I return?")

**> print é um metodo void, não retorna nada, então não é salvo nada na variavel**

In [ ]:
return_value

### The Anatomy of a Function

In [ ]:
def multiply(x, y:int) -> int: # Function signature
  # Function body
  product = x * y
  return product

**> A identação no python é importante, utilize def para criar uma função, e : para definir quando vai ser criado o body. Além disso, posso tipar a entrada de dados e a saida**

In [ ]:
multiply(2, 4)

In [ ]:
def greet(name):
  print(f"Hello, {name}!")

In [ ]:
greet("Dave")

**> Podemos fazer uma função chamar outra função**

### The while Loop

In [ ]:
n = 1
while n < 5:
  print(n)
  n = n + 1

**> Repetir até a condição ser atendida**

In [ ]:
num = float(input("Enter a positive number: "))
while num <= 0:
  print("That's not a positive number!")
  num = float(input("Enter a positive number: "))

**> E podemos passar função como parametro**

### The for Loop

In [ ]:
for letter in "Python":
  print(letter)

In [ ]:
word = "Python"
index = 0
while index < len(word):
  print(word[index])
  index = index + 1

**> Essa é uma outra maneira de fazer a função de cima, mas ambas tem o mesmo retorno**

In [ ]:
for n in range(3):
  print("Python")

In [ ]:
for n in range(10, 20):
  print(n * n)

**> A função range nos gera uma lista entre os elementos informados ou do tamanho informado**

In [ ]:
amount = float(input("Enter an amount: "))
for num_people in range(2, 6):
  print(f"{num_people} people: ${amount / num_people:,.2f} each")

**> E podemos juntar tudo que vemos para fazer calculos mais complexos**

### Nested Loops

In [ ]:
for n in range(1, 4):
  for j in range(4, 7):
    print(f"n = {n} and j = {j}")

**> Podemos colocar varios loops dentro de outros loops, mas isso não é uma boa pratica**

## Fibonacci

In [ ]:
# Program to display the Fibonacci sequence up to n-th term

nterms = int(input("How many terms? "))
#> Leitura de quantos itens vai ser executado

# first two terms
n1, n2 = 0, 1 #> Declarando os primeiros itens da lista, fazendo declaraçãos ao mesmo tempo
count = 0 #> Contador

# check if the number of terms is valid
if nterms <= 0: #> Verificar se é um numero positivo ou zero
   print("Please enter a positive integer") #> Mensagem de retorno para o usuario que o numero é invalido
# if there is only one term, return n1
elif nterms == 1: #> Se for informado 1 na quantidade, retorna 0
   print("Fibonacci sequence upto",nterms,":")
   print(n1)
# generate fibonacci sequence
else: #> Se for informado um numero maior que 1, gera a sequencia
   print("Fibonacci sequence:")
   while count < nterms: #> enquanto a contagem for menor que a quantidade de itens informado
       print(n1) #> Imprime o numero atual de n1
       nth = n1 + n2 #> Faz a soma dos dois primeiros elementos para achar o valor do 3 elemento
       # update values
       n1 = n2 #> Numero 2 vira numero 1
       n2 = nth #> Numero 3 calculado vira o numero 2
       count += 1 #> incrementa a contagem e repete tudo até dar a condição do while

In [ ]:
# Python program to display the Fibonacci sequence

def fibonacci(n): #> corpo da função
   if n <= 1: #> Validar se informou um numero superior a 1, 
       return n #> caso contrario, retorna o valor informado em N
   else:
       return(fibonacci(n-1) + fibonacci(n-2)) #> chama de forma recursiva a função, com os numeros calculados da posição atual-2 + atual-1

nterms = int(input("How many terms? ")) #> perguntar quantos numeros vai gerar

# check if the number of terms is valid
if nterms <= 0: #: Validar se foi informado um numero maior que 0
   print("Plese enter a positive integer") #> Mensagem de erro
else: #> Valor maior que zero
   print("Fibonacci sequence:")
   for i in range(nterms): #> Monta uma lista com a quantidade de itens informada, e passa por cada um
       print(fibonacci(i)) #> pega o valor da em "i" e passa para a função de calculo

#### Entendimento sobre Fibonacci

No meu entendimento, funções recursivas são complicadas de se entender no primeiro momento, só a experiencia vai fazer você lidar com elas bem, até la, vai ser uma confusão e você vai achar que é magica.

Ambos os metodos cumprem o que prometem, e nos ultimos anos, passei mais tempo tentando tornar meu código mais legivel, pois passamos mais tempo lendo código do que escrevendo, e quanto mais facil ler, melhor vai ser pra programar.

Eu prefiro a primeira implementação, pois ta tudo ali, ao "seu alcance".